#game {
    background-color: #d11c04;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 400px;
  }
  #player {
    background-color: white;
    height: 20px;
    position: absolute;
    width: 40px;
  }