#game {
    /* background-color: #d11c04; */
    height: 600px;
    margin-right: 20px;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    text-align: center;
    list-style-position: inside;
  }
  h1 {
    text-align: center;
    font: small-caps 700 70px serif;
  }

  h2 {
    
    text-align: center;

  }
  #rps-image {
    height: 180px;
    width: 280px;
    margin-left: 50px;
  }
#button-image {
  margin-left: 10px;
}
body {
  color: yellow;
  background-image: url('https://thumbs.gfycat.com/AffectionateDesertedGoa-max-1mb.gif');
}
#display-company-images {
  display: flex;
  height: 10%;
  width: 10%;
}
.flow-container {
  padding: 20px;
  display: flex;
}
.flow-child {
  width: 50%;
  float: left;
  padding: 5px;
  margin-top: 5%;
}
#company-fact {
  position: relative;
  display: center;
  height: 200px;
  width: 400px;
}

#fact-company-name {
  position: relative;
}
#fact-text {
  position: relative;
}
#company-fact.flow-child {
  text-align: center;
  margin-right: 20px;
}
#random-fact-generator {
  position: absolute;
   margin-left: 35%; 
  display: inline-block;
}
#fact-bar.flow-child {
  /* text-align: center; */
  position: relative;
  align-items: center;
}

